body {
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  display: block;
  margin: auto;
  max-width: 80%;
  margin-top: 40px;
  padding: 25px 0px 25px 25px;
  border: 1px solid #148fdb;
}
h1 {
  padding-bottom: 5px;
  text-transform: capitalize;
  font-size: 41px;
  font-weight: 550;
}
h2 {
  font-size: 46px;
  font-weight: 500;
}
.today {
  opacity: 0.7;
  font-size: 15px;
  padding-top: 5px;
  line-height: 20px;
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
.second {
  padding-top: 30px;
  text-align: center;
  font-size: 17px;
}
.emoji {
  font-size: 40px;
  padding: 10px 0 10px 0;
}
.mb-4 {
  width: 300px;
}
.units {
  position: relative;
  font-size: 17px;
  top: -20px;
}
small {
  display: block;
  margin: auto;
  margin-left: 330px;
  margin-top: 10px;
  max-width: 100%;
}
